
<div
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html" class="cmp-carList">

    <div class="container">

        <span class="title text-center">Cars</span>

      <div class="row">
          <div class="col-3">
              <div data-sly-resource="${'carFilter' @ resourceType='vehicle/components/carFilter'}"></div>
          </div>

          <div class="col-9">
              <div data-sly-resource="${'carItem' @ resourceType='vehicle/components/carItem'}"></div>
          </div>
      </div>

    </div>


</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>