<div id="filters"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">

    <div class="border-0 p-5">
        <h1>Brands</h1>
        <select  class="form-select" name="brand-select" id="brand-select">
            <option value="All">All</option>

        </select>

        <h1>Model</h1>
        <select class="form-select" name="model-select" id="model-select" disabled>
            <option value="All">All</option>
        </select>

        <h1>Year</h1>
        <select class="form-select" name="brand-select" id="year-select">
            <option value="All">All</option>
        </select>
    </div>

</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>