<div id="filters" data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">

    <div  class="border-0 pt-5">
        <h2 class="filterTitles">Brands</h2>
        <select  class="form-select" name="brand-select" id="brand-select">
            <option value="All">All</option>
        </select>

        <h2 class="filterTitles">Model</h2>
        <select class="form-select" name="model-select" id="model-select" disabled>
            <option value="All">All</option>
        </select>

        <h2 class="filterTitles">Year</h2>
        <select class="form-select" name="brand-select" id="year-select" >
            <option value="All">All</option>
        </select>
    </div>

</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>